/****************************************** intro page */
#btnImportList {
  margin-top: 1.5rem;
}
#appSummaryData h1 {
  margin-top: 0.8rem;
}
/****************************************** list page */
.list-header {
  color: white;
  margin: 0.8rem 0 0.5rem;
  border-radius: 5px;
}
.awake-total,
.asleep-total {
  font-size: 1.6rem;
}
/* https://css-tricks.com/centering-css-complete-guide/ */
.more-info {
  position: relative;
}
.more-info .row {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.kid-row {
  border: 2px solid #5d5b6a;
  border-radius: 5px;
  margin-bottom: 5px;
}
.kid-awake {
  background-color: #cbe2b0;
}
.kid-waiting {
  background-color: #ffe666;
}
.kid-asleep {
  background-color: #dcd6f7;
}
.kid-takeup {
  background-color: #f19292;
}
/* overriden bootstrap class */
.btn-outline-light {
  margin: 3px 0 6px;
  border-radius: 10px;
  box-shadow: 5px 10px 14px #888888;
  cursor: pointer;
  color: #212529;
}
.message {
  background-color: #5d5b6a;
  color: beige;
}
ul {
  padding: 0;
  list-style-type: none;
}
