/* https://css-tricks.com/centering-css-complete-guide/ */
.more-info {
  position: relative;
}
.more-info .row {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.kid-row {
  border: 1px solid grey;
  border-radius: 5px;
}
.kid-awake {
  background-color: #cbe2b0;
}
.kid-asleep {
  background-color: #dcd6f7;
}
.kid-takeup {
  background-color: #f19292;
}
.btn-strong {
}
.btn-subtle {
}
/*************************************************************** Google maps */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 300px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 300px;
  margin: 0;
  padding: 0;
}
