.kid-row {
  border: 1px solid grey;
  border-radius: 5px;
}
.kid-awake {
  background-color: green;
}
.kid-asleep {
  background-color: grey;
}
.kid-takeup {
  background-color: red;
}
.btn-strong {
}
.btn-subtle {
}
/*************************************************************** Google maps */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 300px;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 300px;
  margin: 0;
  padding: 0;
}
